<?php

/*
    Copyright 2009-2011 Edward L. Platt <elplatt@alum.mit.edu>
    
    This file is part of the Seltzer CRM Project
    config.inc.php - Sample configuration

    Seltzer is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Seltzer is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Seltzer.  If not, see <http://www.gnu.org/licenses/>.
*/

// Database configuration
$config_db_host = 'localhost';
$config_db_user = '';
$config_db_password = '';
$config_db_db = '';

// Site info
$config_site_title = 'Seltzer CRM';
$config_org_name = 'Seltzer CRM';
$config_email_from = '';
$config_email_to = '';
$config_host = $_SERVER['SERVER_NAME'];
$config_base_path = '/crm/';

// Modules
$config_modules = array(
    "member",
    "key"
);

// Links to show in the main menu
$config_links = array(
    '<front>' => 'Home'
    , 'members' => 'Members'
    , 'plans' => 'Plans'
    , 'keys' => 'Keys'
    , 'reports' => 'Reports'
    , 'permissions' => 'Permissions'
    , 'upgrade' => 'Upgrade'
);

// Permissions (which roles can perform which actions)
$config_permissions = array(
    "user_add" => array(
        "director"
        , "webAdmin"
    ),
    "user_edit" => array(
        "director"
    ),
    "user_delete" => array(
        "director"
    ),
    "module_upgrade" => array(
        "director", "webAdmin"
    ),
    "report_view" => array(
        "authenticated"
    ),
    "contact_view" => array(
        "director"
        , "webAdmin"
    ),
    "contact_add" => array(
        "director"
        , "webAdmin"
    ),
    "contact_edit" => array(
        "director"
    ),
    "contact_delete" => array(
        "director"
    ),
    "member_plan_edit" => array(
        "director"
        , "webAdmin"
    ),
    "member_view" => array(
        "director"
        , "member"
        , "webAdmin"
    ),
    "member_add" => array(
        "director"
        , "webAdmin"
    ),
    "member_edit" => array(
        "director"
    ),
    "member_delete" => array(
        "director"
    ),
    "member_membership_view" => array(
        "director",
        "webAdmin"
    ),
    "member_membership_edit" => array(
        "director"
    ),
    "roles_edit" => array(
        "director"
    ),
    "key_view" => array(
        "director"
    ),
    "key_edit" => array(
        "director"
    ),
    "key_delete" => array(
        "director"
    )
);

?>